.idea/
.gradle/
.gitignore
build/classes/main/StaticStrings.class
build/classes/main/Translit.class
build/dependency-cache/
build/resources/
build/tmp/compileJava/
lolpromoter.properties
lolpromoter.xml
lolpromoter_Sun_Mar_12_19-43-36_MSK_2017.properties
lolpromoter_Sun_Mar_12_19-43-36_MSK_2017.xml
src/main/resources/
src/test/
build/libs/
/src/main/java/ApiTokens.java
.idea/workspace.xml
*.xml
/.idea/workspace.xml
